<div class="nested-fields">
  <%= f.label :beta_user_id %>
  <%= f.number_field :beta_user_id, class:"form-control", min:"1", value:"1", step:"any" %>

  <%= link_to_remove_association 'Remover Membro', f %>
</div>