<section class="pb-20 -mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center mt-32">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">Working with us is a pleasure</h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. Just make sure you enable them first via JavaScript.</p><a href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/presentation" class="font-bold text-gray-800 mt-8" target="_blank">Check Tailwind Starter Kit!</a>
      </div>
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <h3 class="text-3xl mb-2 font-semibold text-center leading-normal">Fundadores</h3><br />
        <ul class="md:grid md:grid-cols-2 md:col-gap-32 md:row-gap-10">
          <li>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-16 h-16 shadow-lg rounded-full">
                <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.2&amp;w=160&amp;h=160&amp;q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">
                  Vera Carpenter
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-16 h-16 shadow-lg rounded-full">
                <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.2&amp;w=160&amp;h=160&amp;q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">
                  Vera Carpenter
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-16 h-16 shadow-lg rounded-full">
                <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.2&amp;w=160&amp;h=160&amp;q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">
                  Vera Carpenter
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-16 h-16 shadow-lg rounded-full">
                <img class="w-full h-full rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2.2&amp;w=160&amp;h=160&amp;q=80" alt="">
              </div>
              <div class="ml-3">
                <p class="text-gray-900 whitespace-no-wrap">
                  Vera Carpenter
                </p>
              </div>
            </div>
          </li>
          <li>
          </li>
          <li>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>