<div class="relative block py-24 lg:pt-0">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center">
      <form class=" w-full lg:w-6/12 px-4">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">
          <div class="flex-auto p-5 lg:p-10">
            <h4 class="text-2xl font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Quer trabalhar conosco?</font>
              </font>
            </h4>
            <p class="leading-relaxed mt-1 mb-4 text-gray-600">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Preencha este formulário e entraremos em contato com você em 24 horas.</font>
              </font>
            </p>
            <div class="relative w-full mb-3 mt-8"><label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="full-name">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Nome completo</font>
                </font>
              </label><input type="text" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Nome completo" style="transition: all 0.15s ease 0s;"></div>
            <div class="relative w-full mb-3"><label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="email">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">O email</font>
                </font>
              </label><input type="email" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="O email" style="transition: all 0.15s ease 0s;"></div>
            <div class="relative w-full mb-3"><label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="message">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">mensagem</font>
                </font>
              </label><textarea rows="4" cols="80" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full" placeholder="Digite uma mensagem..."></textarea></div>
            <div class="text-center mt-6"><button class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all 0.15s ease 0s;">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Enviar mensagem</font>
                </font>
              </button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>