<section class="pb-20 pt-16 -mt-32">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center mt-32">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">Quem Somos?</h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">Temos o sonho de ver a pirataria sair da cultura do Brasileiro, e dar a ele a oportunidade de ser livre para consumir o que deseja. Dando a este a possibilidade de encontrar outras pessoas com os mesmos interesses de uma forma segura e rápida. Então, no Raxaê estamos sempre em busca de melhorar nossa infraestrutura de intermediador, para assim oferecer o melhor serviço aos nossos clientes, a verdadeira razão de existirmos, e desse modo ajudá-las neste processo. </p>
        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">A idéia surgiu no ano de 2019 entre 4 alunos da Universidade Federal do Ceará – UFC, campus de Quixadá – e foi apresentada em um dos maiores eventos de empreendedorismo da instituição, o IV Empreenday, para uma plateia de mais de 300 pessoas, contando com grandes nomes do mercado empreendedor do Brasil e da América Latina.</p>
      </div>
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-indigo-600">
          <img alt="..." src="<%= asset_path('Empreenday/empreenday.jpg')%>" class="w-full align-middle rounded-t-lg">
          <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block" style="height:95px;top:-94px">
              <polygon points="-30,95 583,95 583,65" class="text-indigo-600 fill-current"></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">IV Empreenday</font>
              </font>
            </h4>
            <p class="text-md font-light mt-2 text-white">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">O Oceano Ártico congela a cada inverno e grande parte do gelo marinho derrete a cada verão, e esse processo continuará aconteça o que acontecer.</font>
              </font>
            </p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap mt-6">
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6"><img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-1-800x800-fa5a7ac2c81a43925586ea85f2fea332.jpg" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Ryan Tompson</font>
              </font>
            </h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Web Developer</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6"><img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-2-800x800-3e08ef145920c93bbe320add0d2ef58d.jpg" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Romina Hadid</font>
              </font>
            </h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Especialista em marketing</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6"><img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-3-800x800-19201574ed51f77138a739c0452ca104.jpg" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Alexa Smith</font>
              </font>
            </h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">UI / UX Designer</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6"><img alt="..." src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/team-4-470x470-4ef82ef45a9598d24c4c951ead4d626a.png" class="shadow-lg rounded-full max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Jenna Kardi</font>
              </font>
            </h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Fundador e Chefe Executivo</font>
              </font>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>