<footer class="relative bg-gray pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height:80px;transform:translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="pt-12">
    <h4 class="text-2xl font-semibold text-center">Dividindo um problema,<br class="block md:hidden" /> vivendo uma solução!</h4>
  </div>
  <div class="container mr-auto ml-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 md:pl-48">
        <div class="mt-6">
          <div class="w-full flex flex-wrap mr-auto ml-auto">
            <div class="text-center lg:text-left mr-auto ml-auto md:mr-0 md:ml-0">
              <h2 class="text-xl text-gray-600">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Entre em contanto com nossa equipe</font>
                </font>
              </h2>
              <div class="pt-5">
                <a href="https://wa.me/message/MHVUTTULBFZFO1" target="_blank" class="bg-whatsapp text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" style="transition: all 0.15s ease 0s;">
                  <span class="pr-2 mr-auto ml-auto">
                    <i class="fab fa-whatsapp"></i>
                  </span>
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Envie uma mensagem</font>
                  </font>
                </a>
              </div>
              <p class="text-sm leading-relaxed pt-5 mb-4 text-gray-600">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Nossos Raxadores são importantes para nós.<br class="block lg:hidden" /> </font>
                  <font style="vertical-align: inherit;">Ficaríamos contentes em receber<br class="block lg:hidden" /> uma mensagem sua.</font>
                </font>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-6/12 pt-8 text-center md:pr-6">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-full ml-auto">
            <a href="https://www.instagram.com/raxae_oficial/" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
              <i class="flex fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/RaxaeOficial" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 text-center items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
              <i class="flex fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/RaxaeOficial" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
              <i class="flex fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/raxa%C3%AA" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
              <i class="flex fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="flex flex-wrap items-center md:justify-between justify-center">
  <div class="w-full bg-white px-4 mx-auto text-center">
    <div class="text-xs text-gray-600 py-6">
      COPYRIGHT © 2020 RAXAÊ – TODOS OS DIREITOS RESERVADOS.
    </div>
  </div>
</div>