<section class="pb-20 bg-neutral-400">
  <div class="bottom-auto left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height:80px;transform:translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-neutral-400 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="flex flex-wrap justify-center text-center">
    <div class="w-full lg:w-6/12 px-4">
      <h2 class="text-4xl text-white font-semibold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nossas Metas</font>
        </font>
      </h2>
    </div>
  </div>
  <div class="container w-11/12 mr-auto ml-auto">

    <div class="flex flex-wrap mr-auto ml-auto">
      <div class="pt-48 w-full md:w-3/12 text-center">
        <div class="flex-auto">
          <img src="<%= asset_path('Material/Material/recompensa_desafio_01.png')%>" />
        </div>
      </div>
      <div class="pt-6 w-full md:w-5/12 px-4 text-center">
        <img src="<%= asset_path('Material/Material/foguete_level_-1.png')%>" />
      </div>
      <div class="md:w-4/12 px-4 text-center mt-24">
        <div class="relative bg-white items-center border-teal-500 text-teal-900 px-4 py-3 mb-8 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-gray-400 p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="mt-auto mb-auto pl-3 text-gray-400">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">2000</span></p>
            </div>
          </div>
        </div>

        <div class="relative bg-white items-center border-teal-500 text-teal-900 px-4 py-3 mb-8 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-gray-400 p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="mt-auto mb-auto pl-3 text-gray-400">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">800</span></p>
            </div>
          </div>
        </div>

        <div class="relative bg-main items-center border-teal-500 text-teal-900 px-4 py-3 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-white p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="mt-auto mb-auto pl-3 text-white">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">200</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>