<section class="pb-20 bg-gray-300 -mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="pt-48 w-full md:w-3/12 text-center">
        <div class="relative flex flex-col min-w-0 break-words w-full">
          <div class="flex-auto">
            <img src="<%= asset_path('Material/Material/recompensa_desafio_01.png')%>" />
          </div>
        </div>
      </div>
      <div class="pt-6 w-full md:w-5/12 px-4 text-center">
        <img src="<%= asset_path('Material/Material/foguete_level_-1.png')%>" />
      </div>
      <div class="md:w-4/12 px-4 text-center mt-24">
        <div class="relative bg-white items-center border-teal-500 text-teal-900 px-4 py-3 mb-8 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-gray-400 p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="pt-2 pl-3 text-gray-400">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">2000</span></p>
            </div>
          </div>
        </div>

        <div class="relative bg-white items-center border-teal-500 text-teal-900 px-4 py-3 mb-8 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-gray-400 p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="pt-2 pl-3 text-gray-400">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">800</span></p>
            </div>
          </div>
        </div>

        <div class="relative bg-white items-center border-teal-500 text-teal-900 px-4 py-3 shadow-md rounded-lg">
          <div class="flex">
            <div class="py-1">
              <div class="text-gray-400 p-5 text-center inline-flex items-center justify-center fill-current"><i class=" text-3xl fas fa-user-friends text-xl"></i></div>
            </div>
            <div class="pt-2 pl-3 text-gray-400">
              <p class="text-left text-lg">Raxadores Abordo</p>
              <p class="text-4xl text-left -mt-2"><span class="font-bold">12</span>/<span class="font-bold">200</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<script>

</script>