  <div class="w-full px-4 ml-auto mr-auto text-center">
    <h2 class="leading-10 font-extrabold text-white sm:text-5xl sm:leading-none md:text-5xl">
      Assinaturas <span class="text-indigo-600">+</span> Economia =
      <br class="">
      <span class="text-indigo-600">Raxaê</span>
    </h2>
    <p class="mt-4 text-lg text-white">
      Quer vir fazer parte dessa nova maneira de <br />economizar e assinar seus serviços favoritos?
    </p>
    <div class="mt-5 sm:mt-8 sm:flex  sm:justify-center lg:justify-center">
      <div class="rounded-md shadow">
        <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
          Quero Fazer Parte
        </a>
      </div>
    </div>
  </div>