  <div class="relative flex content-center items-center justify-center">
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h2 class="text-white font-semibold text-5xl">
              Assinaturas <span class="text-main">+</span> Economia =
              <span class="text-main">Raxaê</span>
            </h2>
            <p class="mt-4 text-xl text-white">
              Quer vir fazer parte dessa nova maneira de <br />economizar e assinar seus serviços favoritos?
            </p>
            <div class="mt-5 sm:mt-8 sm:flex  sm:justify-center lg:justify-center">
              <div class="rounded-md shadow">
                <a href="#form" class="w-full flex items-center justify-center border-main px-8 py-3 text-base leading-6 font-medium rounded-md text-white bg-main hover:bg-main-600 focus:outline-none focus:border-main-700 focus:shadow-outline-main transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                  Quero Fazer Parte
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>