<section class="pb-20">
  <div class="bottom-auto left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height:80px;transform:translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-main-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="flex flex-wrap justify-center text-center mb-24">
    <div class="w-full lg:w-6/12 px-4">
      <h2 class="text-4xl font-semibold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Como Funciona?</font>
        </font>
      </h2>
    </div>
  </div>
  <div class="w-4/5 mr-auto ml-auto">
    <img src="<%= asset_path('Material/Material/how to - version desktop.png')%>" />
  </div>
</section>