<section class="pb-20">
  <div class="flex flex-wrap justify-center text-center mb-24">
    <div class="w-full lg:w-6/12 px-4">
      <h2 class="text-4xl font-semibold">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Como Funciona?</font>
        </font>
      </h2>
    </div>
  </div>
  <div class="w-4/5 mr-auto ml-auto">
    <img src="<%= asset_path('Material/Material/how to - version desktop.png')%>" />
  </div>
</section>