<section class="bg-main">
  <div class="bottom-auto left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height:80px;transform:translateZ(0)">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-main fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="pt-24">
    <h3 class="text-4xl mb-2 italic text-white text-center font-bold leading-normal">Nosso Time</h3>
    <hr class="borda-branca w-16 mr-auto ml-auto text-center mt-5 border-white">
  </div>
  <div class="container pt-24 mx-auto pb-40 px-4">
    <div class="flex text-white flex-wrap mt-6">
      <div class="w-6/12 sm:w-6/12 md:w-6/12 lg:w-3/12 lg:mb-0 mb-12">
        <div class="">
          <img alt="..." src="<%= asset_path('Beautiful/Luis.png')%>" class="shadow-lg rounded-lg max-w-full mx-auto" style="max-width:120px;">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Luis Henrique</font>
              </font>
            </h5>
            <p class="mt-1 text-sm PJA uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Fundador e CEO</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-6/12 sm:w-6/12 md:w-6/12 lg:w-3/12 lg:mb-0 mb-12">
        <div class="">
          <img alt="..." src="<%= asset_path('Beautiful/Willamy.png')%>" class="shadow-lg rounded-lg max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Willamy Silva RD</font>
              </font>
            </h5>
            <p class="mt-1 text-sm PJA uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Backend Developer</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-6/12 sm:w-6/12 md:w-6/12 lg:w-3/12 lg:mb-0 mb-12">
        <div class="">
          <img alt="..." src="<%= asset_path('Beautiful/Janay.jpg')%>" class="shadow-lg rounded-lg max-w-full mx-auto" style="max-width:120px">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Paulo Janai</font>
              </font>
            </h5>
            <p class="mt-1 text-sm PJA uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">UI / UX Designer</font>
              </font>
            </p>
          </div>
        </div>
      </div>
      <div class="w-6/12 sm:w-6/12 md:w-6/12 lg:w-3/12 lg:mb-0 mb-12">
        <div class="">
          <img alt="..." src="<%= asset_path('Beautiful/Ancelmo.png')%>" class="shadow-lg rounded-lg max-w-full mx-auto" style="max-width:120px; max-height: 120px;">
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Ancelmo Souza</font>
              </font>
            </h5>
            <p class="mt-1 text-sm PJA uppercase font-semibold">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Frontend Developer</font>
              </font>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>