<h1>Serviços</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
    <tr>
      <th scope="row"><%= service.id %></th>
      <td><%= service.title %></td>
      <td><%= service.kind %></td>
    </tr>
    <% end %>
  </tbody>
</table>