<div class="relative flex content-center items-center justify-center my-16">
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-7/12 px-4 ml-auto mr-auto text-center">
        <div class="text-base text-left leading-6">
          <h1 class="font-bold text-2xl text-center uppercase my-6">Política de Privacidade</h1>

          <p class="mb-3">Informamos que toda e qualquer informação pessoal coletada por por nosso website www.raxae.com.br , será utilizada para melhorar a sua experiência ao navegar em nosso website, visando desta maneira que sua visita se torne mais vantajosa e assertiva.</p>
          <p class="mb-3">A confidencialidade das informações pessoais dos usuários do site www.raxae.com.br é de suma importância para nossa equipe, por este motivo, buscamos otimizar continuamente todos os processos internos, para mantê-los em segurança e de acordo com todas as normas impostas.</p>
          <p>Desta maneira, ressaltamos que todos os dados pessoais dos visitantes, assinantes, membros ou clientes que utilizem o nosso site irão receber o tratamento de acordo com uma importante lei, especificamente a de Proteção de Dados Pessoais, cujo seu número é 67/98 e sua data de 26/10/1998.</p>
          <h2 class="font-bold my-3 uppercase">Aceite</h2>
          <p class="mb-3">A partir do momento da utilização do website www.raxae.com.br pressupõe que o usuário aceitou a <span class="font-bold">política de privacidade</span>. Desta forma reservamos ao direito de modificar esta política sem que seja realizado um aviso prévio. Por este motivo, nós recomendamos que os usuários realizem uma consulta regularmente a nossa política, para que desta forma, se mantenham sempre atualizados de possíveis alterações, caso seja necessário é possível entrar em contato através de nosso e-mail: raxae@raxae.com.br informando suas dúvidas.</p>
          <p>O desenvolvedor poderá coletar informações pessoais do usuário que acessa o site, tais como nome, CPF, dados bancários, e-mail, número de telefone, ip e/ou outros dados. Esses dados são coletados para garantir que as transações sejam efetuadas corretamente e para garantir a segurança de todos aqueles que utilizam da plataforma.</p>
          <h2 class="font-bold my-3 uppercase">Vínculo a Sites Externos</h2>
          <p>O site www.raxae.com.br contém vinculo com sites externos, estes que podem possuir ferramentas e/ou informações proveitosas para os usuários. Esta<span class="font-bold"> política de privacidad</span>e não é empregada aos sites externos, se for do interesse do usuário, o mesmo deverá acessar a <span class="font-bold">política de privacidade</span> do site em questão para ter conhecimento dos detalhes.
          </p>
          <h2 class="font-bold my-3 uppercase">Atualização</h2>
          <p>Essa <span class="font-bold">política de privacidade</span> obteve sua última atualização na data de 22/09/2020, podendo ser modificada a qualquer momento, sem aviso prévio.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>