<div class="relative flex content-center items-center justify-center my-16">
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-7/12 px-4 ml-auto mr-auto text-center">
        <div class="text-base text-left leading-6">
          <h1 class="font-bold text-2xl text-center my-6">TERMOS E CONDIÇÕES DE USO</h1>

          <p class="mb-3">O RAXAE, inscrito sob o CNPJ/MF <span class="font-bold">38.331.546/0001-06</span>, na qualidade de titular dos direitos autorais da plataforma denominada “RAXAE” agradece a sua preferência.</p>

          <p class="mb-3">Por favor, leia estes termos de uso cuidadosamente antes de usar o serviços do RAXAE.</p>

          <p class="mb-3">Estes termos e condições de uso, juntamente com a Política de Privacidade, descrevem os termos e as condições aplicáveis ao acesso e uso das funcionalidades do RAXAE por você usuário, pessoa física e jurídica. Para fins destes Termos de Uso, palavras como “usuário”, “membro” ou “integrante” se referem a qualquer usuário cadastrado, visitante ou que utilize os serviços do RAXAE. Termos como “sala” ou “grupo” se referem a algum serviço ofertado dentro da plataforma RAXAE e o termo “líder” é usado para referir-se ao usuário responsável pelo fornecimento ou repasse do serviço, em alguns momentos usaremos os termos “membros” ou “integrantes” para fazer referência aos demais usuários que não sejam o líder, quaisquer outros usos desses termos serão devidamente indicados ao longo deste documento.</p>
          <p class="mb-3">POR FAVOR, LEIA ATENTAMENTE E COM O MÁXIMO DE ATENÇÃO OS TERMOS E CONDIÇÕES AQUI APRESENTADOS.</p>
          <p class="mb-3">Ao acessar ou utilizar o RAXAE você estará concordando em ficar vinculado por estes Termos de Uso aos seus serviços. No caso de você não concordar com algum dos termos e condições aqui apresentados pedimos que suspenda o uso dos serviços do RAXAE.</p>
          <p>O RAXAE poderá modificar estes termos de uso, a qualquer momento, a seu exclusivo critério e com aviso prévio, mediante a publicação de termos de uso atualizados.</p>

          <h2 class="font-bold my-3">PLATAFORMA RAXAE</h2>
          <ol class="list-decimal list-outside ml-5">
            <li>
              O RAXAE é uma plataforma financeira que oferece a seus usuários comodidade e segurança para realizar seus negócios.
              <ol class="list-decimal list-inside ml-3">
                <li>
                  Ao entrar em nossa plataforma o usuário pode criar salas/grupos onde ele poderá ofertar seus serviços/produtos aos demais usuários da plataforma ou a um grupo seleto de pessoas designadas pelo mesmo.
                </li>
                <li>
                  O usuário também pode buscar por grupos com os mesmos interesses que os seus e solicitar a entrada no mesmo.
                </li>
                <li>
                  O RAXAE intermedeia as transações financeiras de seus usuários, garantindo assim que os membros dos grupos recebam o serviço/produto acordado e os representantes recebam o que lhes é de direito.
                </li>
              </ol>
            </li>
            <li>
              A plataforma RAXAE não se responsabiliza por serviços/produtos que não sejam próprios do usuário que os publicou, assumindo este total responsabilidade por suas ações.
            </li>
          </ol>
          <h2 class="font-bold my-3">DAS OBRIGAÇÕES DO USUÁRIO</h2>
          <ol class="list-decimal list-outside ml-5">
            <li>
              O usuário se compromete a conservar e atualizar as suas informações cadastrais sempre que houver qualquer alteração, a fim de mantê-las verdadeiras, exatas, atuais, precisas e completas;
            </li>
            <li>
              Caso sejam fornecidas informações falsas, incorretas, desatualizadas ou incompletas por parte do usuário, todas as consequências daí decorrentes serão de total responsabilidade do mesmo;
            </li>
            <li>
              É de total responsabilidade do usuário o repasse, a terceiros, de suas informações cadastrais sendo de sua exclusiva e total responsabilidade as consequências geradas por este ato;
            </li>
            <li>
              O RAXAE não se responsabiliza sob circunstância alguma pela utilização inadequado ou indevida, assim como o repasse e fornecimento que o usuário fizer dos seus dados cadastrais a terceiros.
            </li>
          </ol>

          <p class="my-3">O usuário concorda, sob as penas da lei, que não executará sob nenhuma circunstância :</p>

          <ol class="list-decimal list-outside ml-5">
            <li>
              Efetuar a reprodução total ou parcial do RAXAE;
            </li>
            <li>
              Copiar, aprimorar, traduzir, adaptar, separar, desmontar, modificar, elaborar obras derivadas, descompilar, acessar o código-fonte ou fazer a engenharia reversa do RAXAE;
            </li>
            <li>
              Fazer uso do RAXAE de outra forma que não seja a expressamente prevista neste instrumento ou que viole lei, regulamento ou direitos de terceiros;
            </li>
            <li>
              Publicação, envio ou transmissão de qualquer arquivo que contenha vírus, worms, cavalos de tróia ou qualquer outro programa que possa contaminar, destruir
              ou interferir no funcionamento do RAXAE;
            </li>
            <li>
              Envio, repasse, publicação ou distribuição de quaisqueres arquivos que contenham vírus, worms, cavalos de tróia e qualquer outro tipo de arquivo danoso dentro dos canais de comunicação do RAXAE, assim como entre os outros vários usuários do RAXAE;
            </li>
            <li>
              Violar ou solicitar a violação de qualquer lei ou regulamento local, estadual ou nacional aplicáveis;
            </li>
            <li>
              Violar os direitos de qualquer terceiro, incluindo, entre outros, direitos de propriedade intelectual, direitos de marcas registradas, <span class="italic">Copyright</span>, direitos contratuais e de privacidade ou direito de publicidade;
            </li>
            <li>
              Assumir a identidade de qualquer pessoa ou falsamente declarar ou adulterar informações pessoais suas ou de terceiros;
            </li>
            <li>
              Injuriar, caluniar, abusar, molestar, perseguir, ameaçar ou violar os direitos de terceiros;
            </li>
            <li>
              Fazer uso de linguagem preconceituosa, difamatória ou linguagem ofensiva de qualquer tipo;
            </li>
            <li>
              Discutir ou incitar atividades ilegais ou a prática de crimes de qualquer natureza;
            </li>
            <li>
              O usuário confirma assumir total responsabilidade por todo o conteúdo por ele distribuído, postado, compartilhado e divulgado nos meios de comunicação do RAXAE;
            </li>
            <li>
              Promover informações que saiba ser falsa ou enganosa ou que promova ou facilite atividades ilegais, pirataria ou conduta abusiva, ameaçadora, difamatória ou acusatória desde que constatado tais conteúdos mediante denúncia prévia.
            </li>
          </ol>

          <h2 class="font-bold my-3">DAS OBRIGAÇÕES DA EMPRESA</h2>

          <ol class="list-decimal list-outside ml-5">
            <li>
              O RAXAE enviará seus melhores esforços no sentido de manter as informações em sua plataforma tão atualizadas, completas e precisas quanto possível e compromete-se a empenhar o máximo de esforço possível, a fim de corrigir o mais rápido possível , eventuais imprecisões ou omissões das informações contidas em sua plataforma;
            </li>
            <li>
              O RAXAE pode alterar seu conteúdo a qualquer momento, a seu exclusivo critério ou mediante alguma necessidade que a administração do RAXAE julgue necessária a seu exclusivo critério;
            </li>
            <li>
              O RAXAE compromete-se a, em caso de mudanças, fornecer avisos prévios, tanto em sua plataforma quanto nos diversos meios de comunicação usados pelo serviço;
            </li>
            <li>
              Asseguramos ao cliente suporte total, tanto para sancionar dúvidas quanto para tomar as decisões cabíveis em caso de denúncia de alguma das violações constatadas neste documento;
            </li>
            <li>
              O RAXAE compromete-se a fornecer suporte e máxima dedicação ao atendimento de denúncias de possíveis violações cometidas entre membros de alguma sala ou pelo próprio líder de alguma sala;
            </li>
            <li>
              Asseguramos ao usuário que no caso de constatada verdadeira a violação de qualquer das proibições previstas neste documento o RAXAE tomará as medidas cabíveis necessárias previstas em lei;
            </li>
            <li>
              Obrigações para com os líderes e membros das salas:
              <ol class="list-decimal list-inside ml-3">
                <li>
                  No caso do repasse dos valores, que cabe aos integrantes de uma sala pagarem por um determinado serviço, o RAXAE assegura o repasse destes valores para o líder da respectiva sala após decorridos 30 dias da data para prevista para manutenção do serviço, no caso de serviços de renovações ou assinaturas que requeiram pagamentos mensais;
                </li>
                <li>
                  O RAXAE garante o repasse dos valores como dito na cláusula acima, para o líder após 30 dias de modo a garantir que os demais membros da respectiva sala recebam o serviço ofertado pelo líder e confirmem o mesmo;
                </li>
                <li>
                  Como apresentado nos itens acima o RAXAE garante um prazo de 30 dias para o repasse dos valores acordados entre os membros de uma sala e o respectivo líder da mesma, estes 30 dias servindo como prazo máximo para que os membros da sala possam realizar a denúncia, no caso do não recebimento do serviço prestado e para petição de reembolso do valor acordado e pago pelos mesmos;
                </li>
                <li>
                  O RAXAE garante o reembolso da quantia paga pelos membros de uma sala segundo o valor acordado previamente entre o líder e os demais integrantes segundo a constatação e denúncia de não recebimento completo ou parcial do serviço apresentado, de irregularidades com o mesmo ou do não fornecimento do serviço proposto.
                </li>
              </ol>
            </li>
          </ol>

          <h2 class="font-bold my-3">ISENÇÃO DE RESPONSABILIDADE DA PRESTADORA</h2>

          <ol class="list-decimal list-outside ml-5">
            <li>
              O RAXAE não se responsabiliza por qualquer dano ou prejuízo decorrente da veiculação ou uso de quaisqueres informações que não sejam de autoria ou divulgação do RAXAE;
            </li>
            <li>
              O usuário confirma isentar o RAXAE de quaisquer problemas oriundos da distribuição, repasse, divulgação ou exibição, de autoria do mesmo, dos seus dados cadastrais a terceiros;
            </li>
            <li>
              Não tomamos responsabilidade por qualquer uso que o usuário fizer de seus próprios dados, sendo todas as ações por ele tomadas, de sua exclusiva autoria;
            </li>
            <li>
              O RAXAE não responsabiliza-se por quaisqueres informações ou dados divulgadas, compartilhadas, fornecidas ou distribuídas pelo usuário sendo de total e exclusiva responsabilidade do mesmo;
            </li>
            <li>
              O RAXAE isenta-se de assumir qualquer responsabilidade de intervir em conflitos internos ou pessoais, de qualquer que seja o cunho destes conflitos, entre os membros de um grupo ou entre estes e o líder, exceto nos casos em que sejam constatadas violações e havido a devida denúncia de tais violações das cláusulas apresentadas ao longo de todo este documento ou do descumprimento dos termos do mesmo e das Políticas de Privacidade do RAXAE;
            </li>
            <li>
              O RAXAE não assume responsabilidade de realizar reembolso, pagamento de multa ou ressarcimento de qualquer tipo diante das seguintes situações:
              <ol class="list-decimal list-inside ml-3">
                <li>
                  Após o prazo de 30 dias deferido para o repasse dos valores pagos para o líder da sala ou para denúncia e requisição de ressarcimento por parte dos membros da sala caso o serviço viole alguma das cláusulas apresentadas neste documento, se o algum usuário desejar retirar-se do grupo por vontade própria sem ter havido constatação de irregularidade ou quebra dos termos apresentados neste documento pelo serviço, o RAXAE não tem responsabilidade de realizar ressarcimento de qualquer tipo para o usuário e caso o mesmo opte por tomar tal ação esta é de total responsabilidade do mesmo;
                </li>
                <li>
                  No caso de por alguma razão não vinculada ao RAXAE, ao serviço fornecido ou ao líder da sala o usuário (membro da sala ) não conseguir ter acesso ao serviço fornecido. São consideradas razões sem vínculo com o RAXAE, com o serviço ou com o líder da sala:
                  <ol class="list-decimal list-inside ml-6">
                    <li>
                      O não uso do serviço por vontade e decisão própria do usuário;
                    </li>
                    <li>
                      Por não conseguir ter acesso ao serviço em decorrência da falta de conexão com a Internet, seja por falha ou encerramento do vínculo contratual do usuário com seu provedor de internet ou por quaisquer outras razões pessoais do usuário (Para serviços online);
                    </li>
                    <li>
                      A não utilização do serviço por quaisquer questões de saúde ou incapacidade física e mental do usuário.
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>

          <h2 class="font-bold my-3">DA RESCISÃO DO SERVIÇO</h2>

          <ol class="list-decimal list-outside ml-5">
            <li>
              O usuário poderá rescindir seu vínculo com RAXAE a qualquer tempo, desde que todos seus débitos, seja por fornecer algum serviço como líder de uma ou mais salas, ou por integrar como membro, sem estar como responsável pelo serviço, uma ou mais salas sejam prévia e devidamente quitados estando sujeito a multas ou quaisquer outras medidas cabíveis como previsto por lei e assumindo total responsabilidade caso opte por rescindir seu vínculo com débitos pendentes;
            </li>
            <li>
              Fica a critério exclusivo do RAXAE realizar rescisão compulsória e permanente, sem responsabilidade de fornecer ressarcimento de qualquer tipo ao usuário, em caso de constatação de alguma(s) das seguintes condições:
              <ol class="list-decimal list-inside ml-3">
                <li>
                  Condições quanto integrante líder(responsável) por alguma sala:
                  <ol class="list-decimal list-inside ml-6">
                    <li>
                      No caso de inadimplência por parte do líder, ou seja, se ele não cumprir com as obrigações dos serviços fornecidos por ele;
                    </li>
                    <li>
                      Constatado o fornecimento indevido do serviço ou caso este cometa alguma violação, crime, falsificação, difamação, instigação à violência ou pratique qualquer atividade ilegal perante a lei;
                    </li>
                    <li>
                      No caso de divulgação, exposição, veiculação ou compartilhamento dos dados pessoais, cadastrais ou financeiros dos demais usuários do serviço fornecido pelo líder;
                    </li>
                  </ol>
                </li>
                <li>
                  Condições de rescisão forçada em caso do usuário ser membro de alguma sala, contudo não ser líder da mesma:
                  <ol class="list-decimal list-inside ml-6">
                    <li>
                      Se constatado o não pagamento de qualquer valor devido, sem comprovação de qualquer acordo previamente estabelecido com os demais membros da sala que confirme como autêntico este não pagamento e mediante denúncia vinda tanto do líder quanto dos demais membros de tal violação;
                    </li>
                    <li>
                      Se constatado qualquer tipo de prática tida como criminosa, ilegal ou prejudicial, tanto para os membros (crime de ódio, racismo, instigação à violência ou pornografia, cópia, download, distribuição ou compartilhamento de propriedade intelectual, marca registrada ou <span class="italic">copyright</span> de algum dos membros) quanto para o serviço RAXAE (cópia, registro, download, compartilhamento e distribuição de produtos de propriedade intelectual, marca registrada, <span class="italic">copyright</span>, ou uso indevido do nome, logotipo, imagem e qualquer elemento de domínio do RAXAE e de arquivos de qualquer tipo que contenham vírus, worm, cavalos de tróia e qualquer outro tipo de arquivo tido como prejudicial ao funcionamento do RAXAE);
                    </li>
                  </ol>
                </li>
                <li>
                  Se constatado qualquer comportamento difamatório, calunioso, abusivo, molestador, intimidador, que remeta a perseguição, ameaça ou viola qualquer direito dos demais membros (líder e os demais membros registrados na sala), ou que incite, faça alusão e seja diretamente dirigido a terceiros relacionado ou não aos membros da sala e/ou o RAXAE;
                </li>
                <li>
                  Se constatado falsidade de dados, identidade, fraudes, veiculação, distribuição, download ou qualquer uso indevido de nomes, dados pessoais, cadastrais, financeiros, propriedade intelectual, marca registrada,<span class="italic"> copyright</span>, ou qualquer outra informação que não seja de autoria do usuário;
                </li>
                <li>
                  Se constatado o descumprimento, por parte do usuário, de quaisquer dos termos de uso propostos ao longo deste documento;
                </li>
                <li>
                  Se constatada o uso dos serviços do RAXAE para prática e/ou instigação a qualquer prática ilícita ou tida como criminosa mediante leis regional, estadual e nacional.
                </li>
              </ol>
          </ol>
          </li>
          <p class="my-3">Se qualquer das práticas apontadas nas cláusulas acima for constatada como verdadeira e mediante denúncia previamente feita junto a administração do RAXAE ou ao suporte do mesmo, o usuário ou grupo de usuários responsabilizados terá seu vínculo rompido e bloqueado permanentemente, sem direito a recorrência junto a administração, com quaisquer serviços ofertados pelo RAXAE e será inteiramente responsabilizado por seus atos e responderá adequadamente segundo o previsto em lei.</p>

          <h2 class="font-bold my-3">ACEITAÇÃO DOS TERMOS</h2>

          <p class="mb-3">O usuário declara que foi devidamente informado da política de confidencialidade e ambientes de proteção de informações confidenciais, dados pessoais e registros de acesso, consentindo livre e expressamente às ações de coleta, uso, armazenamento e tratamento das referidas informações e dados.</p>
          <p class="mb-3">Você confirma que, ao se cadastrar, está de acordo e conformidade com todos os termos de uso e cláusulas apresentadas ao longo deste documento, confirma também assumir total responsabilidade por quaisquer informações que você forneça, distribua, veicule ou compartilha por intermédio dos serviços do RAXAE e por qualquer comportamento que o mesmo tomar dentro dos serviços do RAXAE.</p>
          <p class="mb-3">O usuário confirma estar ciente de todas as punições e medidas a serem tomadas se constatadas quaisquer violações das cláusulas e termos apresentados neste documento e confirma também contribuir com qualquer ação tomada pelo RAXAE para averiguação da veracidade de toda e qualquer denúncia realizada contra o mesmo ou de sua própria autoria. O usuário aceita de livre e espontânea escolha os termos de serviço apresentados ao longo deste documento e afirma estar ciente de todas as restrições, deveres e direitos por ele possuídos em relação ao RAXAE e os aceita.</p>
          <p class="mb-3">O usuário confirma ser capaz de responder por si próprio e ter total capacidade física, mental e intelectual de utilizar os serviços do RAXAE e ser capaz de responder por quaisquer de seus atos. No caso do usuário não concordar ou ser contra qualquer dos termos e condições aqui impostas, por favor, pedimos que suspenda de imediato o seu uso de todo e qualquer serviço do RAXAE.</p>
          <p>Ressaltamos ainda que não assumimos responsabilidade por qualquer consequência, prejuízo ou perdas que o usuário venha a ter em decorrência de suas próprias ações sendo-as de inteira responsabilidade do mesmo e o mesmo confirma estar plenamente ciente disso.</p>
          <h2 class="font-bold my-3">DA LEI APLICÁVEL</h2>
          <p class="mb-3">Nós somos uma empresa brasileira e a plataforma e seus serviços são criados e mantidos em fiel cumprimento às leis brasileiras e demais tratados que são incorporados ao ordenamento jurídico brasileiro. Caso Você esteja usufruindo de nossos serviços fora do Brasil, Você será responsável pelo cumprimento das leis locais, na medida em que forem aplicáveis.</p>
          <p>Para esclarecimento de quaisquer dúvidas, Você poderá entrar em contato com a RAXAE por meio do e-mail <span class="font-bold">raxae@raxae.com.br</span>.</p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>