<div class="relative flex content-center items-center justify-center my-16">
  <div class="container relative mx-auto">
    <div class="items-center flex flex-wrap">
      <div class="w-full lg:w-7/12 px-4 ml-auto mr-auto text-center">
        <div class="pr-12">
          <img src="<%= asset_path("Material/Material/Mail.svg") %>" class="mr-auto ml-auto">
          <p class="mt-4 text-2xl italic text">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Estamos construindo uma comunidade<br /> para ficar na história da economia.</font>
            </font>
          </p>

          <div class="mt-8 bg-main bg-opacity-05 rounded-md">
            <div class="py-10">
              <p class="text-lg italic text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;" class="font-medium">Obrigado pela sua confiança, ficamos muito felizes<br /> por você estar a bordo deste sonho!</font>
                </font>
              </p>
              <p class="mt-3 text-xl italic text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;" class="text-main">Você é fundamental na nossa família!</font><br />
                </font>
              </p>
            </div>
          </div>

          <div class="w-full text-center mt-8 mr-auto ml-auto">
            <p class="mb-4 text-sm italic text">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;" class="text-gray-PJA-900">Acompanhe-nos!</font><br />
              </font>
            </p>
            <div class="flex flex-wrap">
              <div class="mr-auto ml-auto">
                <a href="https://www.instagram.com/raxae_oficial/" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
                  <i class="flex fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/RaxaeOficial" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 text-center items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
                  <i class="flex fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/RaxaeOficial" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none mr-2 p-3" type="button">
                  <i class="flex fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/company/raxa%C3%AA" target="_blank" class="bg-main text-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-lg outline-none focus:outline-none p-3" type="button">
                  <i class="flex fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>